{% extends "novmms/base.html" %}  
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}欢迎登陆VMMS{% endblock %}
{% block content %} 
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="page-header">
            <h3>VMMS</h3>
            </div>
            <div class="col-md-8">
		<img class="img-thumbnail" src={% static "novmms/images/login.jpg" %} alt="login_image"/>
            </div>
            <div class="col-md-4">
                <form role="form" method="post" action="/auth/login/">
	            <fieldset>
                    <legend>请登录</legend>
                    {% csrf_token %}
                    {% if request.COOKIES.logout_reason %}
                    <div>
                            <p>{{ request.COOKIES.logout_reason }}</p>
                    </div>
                    {% endif %}
                    {% if next %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ next }}" />
                    {% endif %}
                    <div ng-app="loginApp" ng-controller="loginCtrl">
			<div class="form-group">
			    {% if form.username.field.required %}<span>*</span>{% endif %}{{form.username.label_tag}}
			    {%render_field form.username class+="form-control" required=''%}
			</div>
			<div class="form-group">
			    {% if form.password.field.required %}<span>*</span>{% endif %}{{form.password.label_tag}}
			    {%render_field form.password class+="form-control" required=''%}
			</div>
			<div class="form-group">
                        <select name='region' class="form-control" ng-model="selectedRegions" 
				ng-options="r.url as r.name for r in myRegions track by r.url" required>
                    	    <option value="" ng-show="false">请选择{{form.region.label}}</option>
                        </select>
			</div>
			<div class="form-group clearfix">
                        <button id="loginBtn" type="submit" class="btn btn-default pull-right">登录</button>
			</div>
                    </div>
                    {% for field in form %}
			{% if field.errors %}
		        <div class="alert alert-danger">
			    <a class="close" data-dismiss="alert">×</a>
			    <strong>{{field.label}} Error!</strong>
                            {% for err in field.errors %}
			    <span>{{err}}</span>
			    {% endfor %}
                        </div>
			{% endif %}
                    {% endfor %}
		    {% if form.non_field_errors %}
		    <ul class='text-danger'>
		        {% for error in form.non_field_errors %}
		            <li>{{ error }}</li>
		        {% endfor %}
		    </ul>
		    {% endif %}
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}  
