{% extends "novmms/dashboard_base.html" %}  
{% load staticfiles %}
{% load is_in %}
{% load widget_tweaks %}
{% block title %}VMMS Instances{% endblock %}
{% block content %} 
<div ng-app="instancesApp" ng-controller="instancesCtrl">
<div class="container">
    <h3>云主机信息：</h3>
    <div class="row">
        {% if instances %}
        <div class="col-md-12">
            <table class="table table-striped table-condensed">
                <caption>云主机列表</caption>
                <thead>
                    <tr>
                        <td class="col-md-2">名称</td>
                        <td class="col-md-1">拥有者</td>
                        <td class="col-md-1">更新于</td>
                        <td class="col-md-1">镜像</td>
                        <td class="col-md-1">IP地址</td>
                        <td class="col-md-1">类型</td>
                        <td class="col-md-1">密钥</td>
                        <td class="col-md-1">状态</td>
                        <td class="col-md-1">可用域</td>
                        <td class="col-md-1">电源</td>
                        <td class="col-md-1">操作</td>
                    </tr>
                </thead>
                <tbody>
                    {% for i in instances %}
                    <tr>
                        <td>{{ i.name }}</td>
                        <td>{{ i.owner }}</td>
                        <td>{{ i.modified|date:'H:i' }}</td>
                        <td>{{ i.image }}</td>
                        <td>{{ i.addresses }}</td>
                        <td>{{ i.flavor }}</td>
                        <td>{{ i.key_name }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.availability_zone }}</td>
                        <td>{{ i.power_state }}</td>
                        <td>
			    <div class="dropdown">
				    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">操作<b class="caret"></b></button>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'instances:console' i.uuid %}" target="_blank">控制台</a></li>
				<li><a data-target="#" href="" ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'reboot', null)">硬重启</a></li>
				<li><a data-target="#" href="" ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'soft_reboot', null)">软重启</a></li>
                                {% if i.power_state|is_in:"running suspended" %}
				<li><a data-target="#" href="" ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'shutoff', null)">关机</a></li>
                                {% endif %}
                                {% if i.status|is_in:"SHUTDOWN SHUTOFF CRASHED" %}
				<li><a data-target="#" href="" ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'start', null)">开机</a></li>
                                {% endif %}
                                {% if launchForm %}
				<li><a data-target="#" href="" ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'delete', null)">删除</a></li>
                                {% endif %}
                                {% if launchForm %}
                                <li>
				{% with form="interfaceForm" action='/api/interfaces/'|add:i.uuid|add:'/' vid1=i.uuid|slice:":8" vid2=i.uuid|slice:"24:" %}
				{% with vid=vid1|add:vid2 %}
				<form role="form" name="{{form}}Attach_id_{{vid}}" ng-init="{{form}}Data.id_{{vid}}={}">
					<fieldset>
                                        {% csrf_token %}
					<label for="">网络接口管理:</label>
		                        <!-- attach_interface -->
					{% with n='a_port_id' %}
		                        <div class="form-group">
						<select name='{{n}}' class="form-control" ng-model="{{form}}Data.id_{{vid}}.{{n}}" ng-options="i.key for i in port_id_list | orderBy:'key'" required>
							<option value="">请选择</option>
		                        	</select>
						<div class="clearfix">
							<button ng-click="interfaceFormSubmit({{form}}Data.id_{{vid}}, '{{n}}', '{{action}}', 'post')" class="btn btn-default pull-right">添加</button>
						</div>
		                        </div>
		                        {% endwith %}
					</fieldset>
                                </form>
				<form role="form" name="{{form}}Detach_id_{{vid}}">
					<fieldset>
                                        {% csrf_token %}
		                        <!-- detach_interface -->
					{% with n='d_port_id' %}
		                        <div class="form-group clearfix">
						<select name='{{n}}' class="form-control" ng-model="{{form}}Data.id_{{vid}}.{{n}}" ng-init="port_list({{form}}Data.id_{{vid}}, '{{i.uuid}}')" ng-options="i.key for i in {{form}}Data.id_{{vid}}.port_list | orderBy:'key'" required>
							<option value="">请选择</option>
		                        	</select>
						<button ng-click="interfaceFormSubmit({{form}}Data.id_{{vid}}, '{{n}}', '{{action}}', 'delete')" class="btn btn-default pull-right">删除</button>
		                        </div>
		       			<!-- Results -->
					<div class="alert alert-danger" ng-show="{{form}}Data.id_{{vid}}.error">
                       			    <a class="close" data-dismiss="alert">×</a>
                       			    <span>Error!</span>
					    <span>{${{form}}Data.id_{{vid}}.error$}</span>
                       			</div>
					<div class="alert alert-success" ng-show="{{form}}Data.id_{{vid}}.success">
                       			    <a class="close" data-dismiss="alert">×</a>
                       			    <strong>Success!</strong>
					    <span>{${{form}}Data.id_{{vid}}.success$}</span>
                       			</div>
		                        {% endwith %}
					</fieldset>
                                </form>
				{% endwith %}
				{% endwith %}
                                </li>
				{% with vid1=i.uuid|slice:":8" vid2=i.uuid|slice:"24:" %}
                                {% with vid=vid1|add:vid2 %}
                                <li>
				    {% with form='migrateForm' %}
				    <form role="form" name='{{form}}_id_{{vid}}'>
					<fieldset>
                                        {% csrf_token %}
                                        <label for="id_host">*目标机器:</label>
					<input class="form-control" id="id_host" maxlength="255" name="host" type="text" required ng-model='{{form}}Data.id_{{vid}}.host'>
					<button ng-click="instanceAction('{{i.uuid}}', '{{i.name}}', 'migrate', {{form}}Data.id_{{vid}}, {{form}}Data.id_{{vid}})" class="btn btn-default pull-right">迁移</button>
					</fieldset>
                                    </form>
				    {% endwith %}
                                    {% if i.status|is_in:"VERIFY_RESIZE" %}
                                    <a href="{% url 'instances:migrate_confirm' i.uuid %}" target="_blank">确认迁移完成</a>
                                    {% endif %}
                                </li>
				{% endwith %}
				{% endwith %}
                                {% endif %}
                            </ul>
		    	    </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>您名下没有虚拟机</p>
        {% endif %}
    </div>
    {% if setIPForm and launchForm %}
    <h3>创建云主机：</h3>
    <div class="row">
        <div class="col-md-4">
            {% with form='setIPForm' %}
	    <form role="form" name="{{form}}" ng-init="{{form}}Data.show=false" ng-submit="{{form}}Submit({{form}}Data, '/api/ports/')">
		    <legend>1.获得ip地址<span class="btn btn-default btn-sm pull-right" ng-click="toggle({{form}}Data)">隐藏/显示</span></legend>
		    <fieldset ng-show="{{form}}Data.show">
                        {% csrf_token %}
		   	{% for f in setIPForm %}
		   	<!-- availzones networks -->
		    	{% if f.name|is_in:"availzones networks" %}
		        <div class="form-group">
		                {% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
				<select name='{{f.name}}' class="form-control" ng-model="{{form}}Data.{{f.name}}" ng-options="i.key for i in {{f.name}}_list | orderBy:'key'" {% if f.field.required %}{{'required'}}{% endif %}>
		            	    <option value="" ng-hide="{{form}}.{{f.name}}.$dirty">请选择{{f.label}}</option>
		        	    </select>
		        </div>
			{% endif %}
		   	<!-- ip_addr ip_count -->
		    	{% if f.name|is_in:"ip_addr ip_count" %}
			{% with form|add:"Data."|add:f.name as m%}
			<div class="form-group">
			        {{f.label_tag}}
				{%render_field f class+="form-control" ng-model=m%}
			</div>
			{% endwith %}
			{% endif %}
			{% endfor %}
			<!-- Submit Button -->
			<div class="form-group clearfix">
				<button id="{{form}}Btn" type="submit" class="btn btn-success pull-right">分配并获取ip</button>
			</div>
		        <!-- Results -->
		        <div class="alert alert-danger" ng-show="{{form}}Data.error">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Error!</strong>
		            <span>{${{form}}Data.error$}</span>
                        </div>
		        <div class="alert alert-success" ng-show="{{form}}Data.success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong>
		            <span>{${{form}}Data.success$}</span>
                        </div>
                </fieldset>
            </form>
	    {% endwith %}
        </div>
        <div class="col-md-4">
                {% with form='setKeyForm' %}
		<form role="form" name="{{form}}" ng-init="{{form}}Data.show=false" ng-submit="{{form}}Submit(setKeyFormData, '/api/keypairs/')">
                <legend>2.生成ssh密钥<span class="btn btn-default btn-sm pull-right" ng-click="toggle({{form}}Data)">隐藏/显示</span></legend>
		<fieldset ng-show="{{form}}Data.show">
		    {% csrf_token %}
		    <!-- keypair_name -->
		    {% with n='keypair_name' %}
		    <div class="form-group">
			    <label for="id_{{n}}">*密钥名称:</label>
			    <input class="form-control" id="id_{{n}}" maxlength="255" name="{{n}}" type="text" ng-model="{{form}}Data.{{n}}" required>
		    </div>
		    {% endwith %}
		    <!-- Submit Button-->
		    <div class="form-group clearfix">
			    <button id="{{form}}Btn" type="submit" class="btn btn-success pull-right">生成并下载私钥</button>
	    	    </div>
		    <!-- Results -->
		    <div class="alert alert-danger" ng-show="{{form}}Data.error">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Error!</strong>
			<span>{${{form}}Data.error$}</span>
                    </div>
		    <div class="alert alert-success" ng-show="{{form}}Data.success">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong>
			<span>{${{form}}Data.success$}</span>
                    </div>
                </fieldset>
                </form>
		{% endwith %}
        </div>
        <div class="col-md-4">
            {% with form='launchForm' %}
	    <form role="form" name="{{form}}" ng-init="{{form}}Data.show=false" ng-submit="{{form}}Submit({{form}}Data, '/api/servers/')">
                <legend>3.创建虚拟机<span class="btn btn-default btn-sm pull-right" ng-click="toggle({{form}}Data)">隐藏/显示</span></legend>
		<fieldset ng-show="{{form}}Data.show">
                    {% csrf_token %}
		    <!-- name -->
		    <div class="form-group">
			    <span>*</span>{{launchForm.name.label_tag}}
			    {% with form|add:"Data.name" as m%}
			    {%render_field launchForm.name class+="form-control" required="" ng-model=m%}
			    {% endwith %}
		    </div>
		    <!-- availzones -->
		    {% with f=launchForm.availzones %}
		    <div class="form-group">
			    {% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
			    <select name='{{f.name}}' class="form-control" ng-change="changedValue({{form}}Data.{{f.name}})" ng-model="{{form}}Data.{{f.name}}" ng-options="i.key for i in {{f.name}}_list | orderBy:'key'" {% if f.field.required %}required{% endif %}>
				    <option value="" {% if f.field.required %}ng-hide="{{form}}.{{f.name}}.$dirty"{% endif %}>请选择{{f.label}}</option>
		    	    </select>
		    </div>
		    {% endwith %}
		    <!-- host -->
		    {% with f=launchForm.host %}
		    <div class="form-group" ng-show="launchForm.availzones.$dirty">
		    {{f.label_tag}}
		    <select name='{{f.name}}' class="form-control" ng-model="{{form}}Data.{{f.name}}" ng-options="h.key for h in host_list | orderBy:'key'" {% if f.field.required %}{{'required'}}{% endif %}>
			    <option value="" {% if f.field.required %}ng-hide="{{form}}.{{f.name}}.$dirty"{% endif %}>请选择{{f.label}}</option>
		    </select>
		    </div>
		    {% endwith %}
		    <!-- flavor -->
		    {% with f=launchForm.flavor %}
		    <div class="form-group">
			    {% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
			    <select name='{{f.name}}' class="form-control" ng-model="{{form}}Data.{{f.name}}" ng-options="f.id as f.name+' '+f.info for f in {{f.name}}_list | orderBy:'ram' track by f.id" required>
				    <option value="" ng-hide="{{form}}.{{f.name}}.$dirty">请选择{{f.label}}</option>
		    </select>
		    </div>
		    {% endwith %}
		    <!-- 'keypair_name', 'image' -->
		    <!-- 'owner', 'port_id', 'same_host' -->
		    {% for f in launchForm %}
		    {% if f.name|is_in:"keypair_name image owner port_id same_host" %}
		    <div class="form-group">
			    {% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
			    <select name='{{f.name}}' class="form-control" ng-model="{{form}}Data.{{f.name}}" ng-options="i.key for i in {{f.name}}_list | orderBy:'key'" {% if f.field.required %}{{'required'}}{% endif %}>
				    <option value="" {% if f.field.required %}ng-hide="{{form}}.{{f.name}}.$dirty"{% endif %}>请选择{{f.label}}</option>
		    	    </select>
		    </div>
		    {% endif %}
		    {% endfor %}
		    <!-- count -->
		    <div class="form-group">
		            {{launchForm.count.label_tag}}
			    {% with form|add:"Data.count" as m%}
			    {%render_field launchForm.count class+="form-control" ng-model=m%}
			    {% endwith %}
		    </div>

		    <!-- submit button -->
		    <div class="form-group clearfix">
                    <button id="launchBtn" type="submit" class="btn btn-success pull-right">
			    <span class="glyphicon glyphicon-flash"></span> 创建
		    </button>
	    	    </div>
		    <!-- Results -->
		    <div class="alert alert-danger" ng-show="{{form}}Data.error">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Error!</strong>
			<span>{${{form}}Data.error$}</span>
                    </div>
		    <div class="alert alert-success" ng-show="{{form}}Data.success">
                        <a class="close" data-dismiss="alert">×</a>
                        <strong>Success!</strong>
			<span>{${{form}}Data.success$}</span>
                    </div>
                </fieldset>
            </form>
	    {% endwith %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-2"  ng-show="debug">
            <button id="testAjax">测试Ajax</button>
        </div>
        <div class="col-md-10" id="ajaxResult"></div>
    </div>
</div>
</div>
{% include "novmms/modal.html" %}
<script>
    $(document).ready(function(){
        $("#testAjax").click(function(){
            $.ajax({
            //url: "/api/servers/", 
            //url: "/api/servers/657dc314-d1e9-49e9-9300-228c3f8ded35", 
            //url: "/api/users/", 
            //url: "/api/regions/", 
            //url: "/api/ports/", 
            //url: "/api/availzones/", 
            //url: "/api/networks/", 
            //url: "/api/keypairs/", 
            //url: "/api/hosts/myAZ001", 
            //url: "/api/flavors/", 
            //url: "/api/flavors/2", 
            //url: "/api/images/", 
            //url: "/api/volumes/", 
            url: "/api/volumes/32192512-b006-46f7-8802-e85330da2480/", 
            //url: "/api/images/21b09fa7-bec2-4860-be5a-d79322ca7ebf", 
            //url: "/api/interfaces/2428457d-7a63-473c-925d-28525cde980d",
            type: "get",
	    data: {
		keypair_name:'wagaga', 
		csrfmiddlewaretoken: '{{ csrf_token }}'
	    },
            //dataType: "json",
            success: function(result){
                    //$("#ajaxResult").text(result);
                console.log(result)
                },
            error: function(xhr){
		    console.log(xhr)
            }
            });
        });
    });
</script>
{% endblock %}  
