/* Overridden Bootstrap Css*/
.row {
    margin-right: -15px;
    margin-left: -15px;
    background: #f0f3f4;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 10px 0;
}
