{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "novmms/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "novmms/css/main.css" %}">
    <script src="{% static "novmms/js/jquery.min.js" %}"></script>
    <script src="{% static "novmms/js/bootstrap.min.js" %}"></script>
    <script src="{% static "novmms/js/angular.min.js" %}"></script>
    <script src="{% static "novmms/js/main.js" %}"></script>
    <title>{% block title %}{% endblock %}</title>  
</head>
<body>
{% block content %}{% endblock %}
</body>  
</html> 
