{% load staticfiles %}
{% load is_in %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static "novmms/css/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "novmms/css/main.css" %}">
    	<script src="{% static "novmms/js/jquery.min.js" %}"></script>
    	<script src="{% static "novmms/js/bootstrap.min.js" %}"></script>
        <script src="{% static "novmms/js/angular.min.js" %}"></script>
        <script src="{% static "novmms/js/main.js" %}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">VMMS</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'overview:index' %}" target="_self">概况</a></li>
                        <li><a href="{% url 'instances:index' %}" target="_self">云主机</a></li>
                        <li><a href="{% url 'volumes:index' %}" target="_self">存储卷</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a>
				您好, {{ user.username }}(权限:
				{% for r in user.roles %}
				{% if r.name|is_in:"stuff leader admin" %}
				{{ r.name }}
				{% endif %}
				{% endfor %}
				)页面时间{% now "H:i" %}
			</a></li>
                        <li><a href="{{ request.path }}?refresh=True" target="_self">强刷</a></li>
                        <li><a href="{{ request.path }}?clearcache=True" target="_self">清缓存</a></li>
                        <li><a href="{% url 'auth:logout' %}" target="_self">登出</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
	{% if errmsg %}
    		<p class='text-warning'>{{ errmsg }}</p>
	{% endif %}
        {% block content %}{% endblock %}
    </body>
</html>
