{% extends "novmms/dashboard_base.html" %}  
{% load staticfiles %}
{% load is_in %}
{% load widget_tweaks %}
{% block title %}VMMS Volumes{% endblock %}
{% block content %} 
<div ng-app="volumesApp" ng-controller="volumesCtrl">
    <div class="container">
        <h3>存储卷信息</h3>
	<div class="row">
	    <div class="col-md-12">
		{% if volumes %}
		<table class="table table-striped table-condensed">
			<caption>存储卷列表</caption>
			<thead>
			<tr>
				<td>名称</td>
				<td>大小</td>
				<td>状态</td>
				<td>挂载于</td>
				<td>可用域</td>
				<td>操作</td>
			</tr>
			</thead>
			<tbody>
		{% for v in volumes %}
		    	<tr>
				<td>{{ v.name }}</td>
				<td>{{ v.size }}G</td>
				<td>{{ v.status }}</td>
				<td>
					{% for att in v.attachments %}
					<p title='{{ att|escape }}'>{{ att.server_name }}</p>
					{% endfor %}
				</td>
				<td>{{ v.availability_zone }}</td>
				<td>
				{% if createVolForm %}
				<div class="dropdown">
					<button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">操作<b class="caret"></b></button>
					<ul class="dropdown-menu">
						<li><a data-target="#" href="" ng-click="volumeAction('{{v.id}}', '{{v.name}}', 'delete', null)">删除</a></li>
						<li>
						{% with form="volumeForm" action='/api/volumes/'|add:v.id|add:'/' vid1=v.id|slice:":8" vid2=v.id|slice:"24:" %}
                                		{% with vid=vid1|add:vid2 %}
						<form role="form" name="{{form}}Attach_id_{{vid}}" ng-init="{{form}}Data.id_{{vid}}={}">
							<fieldset>
							{% csrf_token %}
							<label>挂/卸载管理:</label>
							<!-- attach_to -->
                                        		{% with n='attach_to' %}
                                        		<div class="form-group">
                                        		        <select name='{{n}}' class="form-control" ng-model="{{form}}Data.id_{{vid}}.{{n}}" ng-options="i.key for i in local_to_instance_list | orderBy:'key'" required>
                                        		                <option value="">请选择</option>
                                        		        </select>
                                        		        <div class="clearfix">
									<button ng-click="volumeAction('{{v.id}}', '{{v.name}}', 'attach', {{form}}Data.id_{{vid}}.{{n}})" class="btn btn-default pull-right">挂载</button>
                                        		        </div>
                                        		</div>
                                        		{% endwith %}
							</fieldset>
						</form>
						<form role="form" name="{{form}}Detach_id_{{vid}}">
							{% csrf_token %}
							<fieldset>
							<!-- detach_from -->
                                        		{% with n='detach_from' %}
                                        		<div class="form-group">
								<select name='{{n}}' class="form-control" ng-model="{{form}}Data.id_{{vid}}.{{n}}" ng-init="attachment_list({{form}}Data.id_{{vid}}, '{{v.id}}')" ng-options="i.key for i in {{form}}Data.id_{{vid}}.attachment_list | orderBy:'key'" required>
                                        		                <option value="">请选择</option>
                                        		        </select>
                                        		        <div class="clearfix">
									<button ng-click="volumeAction('{{v.id}}', '{{v.name}}', 'detach', {{form}}Data.id_{{vid}}.{{n}})" class="btn btn-default pull-right">卸载</button>
                                        		        </div>
                                        		</div>
                                        		{% endwith %}
							</fieldset>
						</form>
						{% endwith %}
						{% endwith %}
						</li>
						{% with vid1=v.id|slice:":8" vid2=v.id|slice:"24:" %}
						{% with vid=vid1|add:vid2 %}
						<li>
						{% with form='snapshotForm' %}
						<form role="form" name='{{form}}_id_{{vid}}'>
							<fieldset>
							{% csrf_token %}
							<label>*快照名称:</label>
							<input class="form-control" name="name" type="text" ng-model='{{form}}Data.id_{{vid}}.name' required/>
							<label>*描述:</label>
							<input class="form-control" name="desc" type="text" ng-model='{{form}}Data.id_{{vid}}.desc' required/>
							<button ng-click="volumeAction('{{v.id}}', '{{v.name}}', 'snapshot', {{form}}Data.id_{{vid}})" class="btn btn-default pull-right">快照</button>
							</fieldset>
						</form>
						{% endwith %}
						</li>
						<li>
						{% with form='migrateForm' %}
						<form role="form" name='{{form}}_id_{{vid}}'>
							<fieldset>
							{% csrf_token %}
							<label>*迁移到:</label>
							<input class="form-control" name="migrate_to" type="text" ng-model='{{form}}Data.id_{{vid}}.host' required/>
							<button ng-click="volumeAction('{{v.id}}', '{{v.name}}', 'migrate', {{form}}Data.id_{{vid}})" class="btn btn-default pull-right">迁移</button>
						</form>
						{% endwith %}
						</li>
						{% endwith %}
						{% endwith %}
					</ul>
				    </div>
				    {% else %}
				    <span class="text-warning">Forbbiden</span>
				    {% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
		{% else %}
		<p>您的项目下没有存储卷，创建一个？</p>
		{% endif %}
	    </div>
        </div>
	{% if createVolForm %}
	<h3>创建存储卷：</h3>
        <div class="row">
	    <div class="col-md-4">
		    {% with form='createVolForm' %}
		    <form role="form" name="{{form}}" ng-init="{{form}}Data.show=false" ng-submit="{{form}}Submit({{form}}Data, '/api/volumes/')">
                    <legend>1.创建存储卷<span class="btn btn-default btn-sm pull-right" ng-click="toggle({{form}}Data)">隐藏/显示</span></legend>
                    <fieldset ng-show="{{form}}Data.show">
                        {% csrf_token %}
			{% for f in createVolForm %}
			<!-- name size -->
			{% if f.name|is_in:"name size" %}
                        {% with form|add:"Data."|add:f.name as m%}
                        <div class="form-group">
				{% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
                                {%render_field f class+="form-control" ng-model=m%}
                        </div>
                        {% endwith %}
                        {% endif %}
			<!-- availzones snapshot_source local_to_instance -->
                        {% if f.name|is_in:"availzones snapshot_source local_to_instance" %}
                        <div class="form-group">
                                {% if f.field.required %}<span>*</span>{% endif %}{{f.label_tag}}
                                <select name='{{f.name}}' class="form-control" ng-model="{{form}}Data.{{f.name}}" ng-options="i.key for i in {{f.name}}_list | orderBy:'key'" {% if f.field.required %}{{'required'}}{% endif %}>
					<option value="" {% if f.field.required %}ng-hide="{{form}}.{{f.name}}.$dirty"{% endif %}>请选择{{f.label}}</option>
                                    </select>
                        </div>
                        {% endif %}
			{% endfor %}
                        <!-- Submit Button -->
                        <div class="form-group clearfix">
                            <button id="{{form}}Btn" type="submit" class="btn btn-success pull-right">创建卷</button>
                        </div>
                        <!-- Results -->
                        <div class="alert alert-danger" ng-show="{{form}}Data.error">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Error!</strong>
                            <span>{${{form}}Data.error$}</span>
                        </div>
                        <div class="alert alert-success" ng-show="{{form}}Data.success">
                            <a class="close" data-dismiss="alert">×</a>
                            <strong>Success!</strong>
                            <span>{${{form}}Data.success$}</span>
                        </div>
		    </fieldset>
            	    </form>
                    {% endwith %}
            </div>
	</div>
	{% endif %}
    </div>
</div>
    {% include "novmms/modal.html" %}
{% endblock %}  
