{% extends "novmms/dashboard_base.html" %}  
{% load staticfiles %}
{% load is_in %}
{% block title %}NOVMMS Information{% endblock %}
{% block content %} 
    <div>
        <h3>信息</h3>
        <div>
		<h3>{{ label }}</h3>
		<p>{{ info|escape }}</p>
        </div>
    </div>
{% endblock %}  
