{% extends "novmms/dashboard_base.html" %}  
{% load staticfiles %}
{% load is_in %}
{% block title %}VMMS Overview{% endblock %}
{% block content %} 
    <div class="container">
        <h3>概况</h3>
        <div class="row">
	    <div class="col-md-12">
		{% if usage %}
		<table class="table table-striped">
			<caption>资源使用情况</caption>
			<thead>
				<tr>
					<td>资源名称</td>
					<td>使用量</td>
				</tr>
			</thead>
			<tbody>
		{% for k in usage %}
		<tr>
			<td>{{ k }}</td>
			<td>
				{{ usage|get_item:k }}
				{% if k|is_in:quotas %}
				<span>{{ '/'|escape }}{{ quotas|get_item:k }}</span>
				{% endif %}
			</td>
		</tr>		
		{% endfor %}
		</tbody>
		</table>
		{% endif %}
	    </div>
        </div>
    </div>
{% endblock %}  
